<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>init</title>
</head>
<!--<link rel='shortcut icon' type='image/jpg' href=r'\favicon.ico' />-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="TheFacebookApp\fb\templates\app.js"></script>



<!--<script>-->
  <!--window.fbAsyncInit = function() {-->
    <!--FB.init({-->
      <!--appId      : '973471892687156',-->
      <!--xfbml      : true,-->
      <!--version    : 'v2.6'-->
    <!--});-->
  <!--};-->

  <!--(function(d, s, id){-->
     <!--var js, fjs = d.getElementsByTagName(s)[0];-->
     <!--if (d.getElementById(id)) {return;}-->
     <!--js = d.createElement(s); js.id = id;-->
     <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
     <!--fjs.parentNode.insertBefore(js, fjs);-->
   <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<p>Type a Msg to post it on Facebook</p>


<form action="http://127.0.0.1:9000/facebook/post" method="post">
  Status: <input type="text" name="status"><br>
  <input type="submit" value="POST">
</form>
<div ng-app="myApp" ng-controller="myController">
    <button ng-click="mtCtrl.try()">Test</button>
    {{ myCtrl.t }}
    <br/>
    {{ me }}
</div>
</html>
